<!DOCTYPE html>
<html>

<body>
    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;float: right;margin-right: 50px">Login</button>
    <button onclick="document.getElementById('id02').style.display='block'" style="width:auto;float: right;margin-right: 50px">Sign Up</button>

    <!- Login Form id01  ->

    <div id="id01" class="modal">

        <form class="modal-content animate" name="login" action="student_login.php" method="POST">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Window">&times;</span>
            </div>

            <div class="container">
                <label><b>Email ID</b></label>
                <input type="email" placeholder="Enter Email ID" name="email" id="email" required>
                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" id="password" required>

                <button type="submit">Login</button>
                <input type="checkbox" checked="checked"> Remember me
            </div>
        </form>
    </div>

    <!- Sign Up Form id02  ->

    <div id="id02" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
        <form class="modal-content animate" name="signup" action="student_register.php" onsubmit="return validateSignUp()" method="POST">
            <div class="container">
                <label><b>Full Name</b></label>
                <input type="text" placeholder="Enter Full Name" name="name" required>
                <label><b>Email</b></label>
                <input type="email" placeholder="Enter Email" name="email" required>
                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <label><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="re-password" required>
                <p id="error"> </p>
                <input type="submit" value="Sign Up">
            </div>
        </form>
    </div>
    <!- Validate Function to validate Signup form  ->

    <script>
        function validateSignUp() {
            var pass1 = document.forms["signup"]["password"].value;
            var pass2 = document.forms["signup"]["re-password"].value;
            if (pass1 != pass2) {
                document.getElementById("error").innerHTML = "Password Mismatch !";
                document.getElementById("error").style.color = "RED";
                return false;
            }
        }
        // Get the modal
        var login = document.getElementById('id01');
        var signup = document.getElementById('id02');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == login || event.target == signup) {
                login.style.display = "none";
                signup.style.display = "none";
            }
        }
    </script>
</body>

</html>